[color]
	ui = auto

[color "status"]
	added = yellow
	changed = green
	untracked = red

[user]
	name = John Sylvain
	email = john.n.sylvain@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
